*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// This defines what 1 rem is equal to
html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px; 8px/16px = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px; 12px/16px = 75%
    }
}

body {
    box-sizing: border-box;
    background-color: #131417;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 1.9;
    position: relative;

    overflow-x: hidden;
}

::selection {
    background-color: $color-primary;
    color: #fff;
}
