/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape

[1200 - 1800px] is where our normal styles apply

1800px + :      Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@keyframes gradient-move {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes pop {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #131417;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 1.9;
  position: relative;
  overflow-x: hidden; }

::selection {
  background-color: #5ec576;
  color: #fff; }

p {
  color: #666; }

h1 {
  font-size: 5.5rem;
  line-height: 1.35; }

h4 {
  font-size: 2.4rem;
  font-weight: 500; }

button:focus {
  outline: none; }

img {
  transition: filter 0.5s; }

.lazy-img {
  filter: blur(20px); }

.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400; }

.top_progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: linear-gradient(to right, #5ec5763a, #5ec576, #4bbb7d);
  width: 0%;
  z-index: 1000; }

.alert {
  position: fixed;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
  padding: 1rem 10rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25); }

.alert--success {
  background-color: #20bf6b; }

.alert--error {
  background-color: #eb4d4b; }

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem; }
  .about__video {
    width: 90%;
    align-self: center; }
  .about__feature {
    text-align: justify;
    align-self: flex-start;
    justify-self: center;
    width: 90%;
    font-size: 1.5rem; }
    .about__feature > p {
      color: #ced4da; }
    .about__feature > ol {
      color: #ced4da;
      list-style: disc;
      padding-left: 2rem; }
      .about__feature > ol > li {
        padding-left: 2rem; }
  .about__header {
    font-size: 2rem;
    margin-bottom: 1rem; }

.accordion {
  font-family: "Poppins", sans-serif;
  max-width: 80rem;
  margin: 0 auto; }
  .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 1.5rem 0; }
    .accordion .accordion-item button[aria-expanded="true"] {
      border-bottom: 1px solid #5ec576; }
  .accordion button[aria-expanded="true"] {
    color: #5ec576; }
    .accordion button[aria-expanded="true"] .icon::after {
      width: 0; }
    .accordion button[aria-expanded="true"] + .accordion-content {
      opacity: 1;
      max-height: 15rem;
      transition: all 200ms linear;
      will-change: opacity, max-height; }
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #fff;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none; }
    .accordion button:hover, .accordion button:focus {
      cursor: pointer;
      color: #5ec576; }
    .accordion button:hover::after, .accordion button:focus::after {
      cursor: pointer;
      color: #5ec576;
      border: 1px solid #5ec576; }
    .accordion button .accordion-title {
      font-family: "Poppins", sans-serif;
      padding: 1em 1.5em 1em 0;
      font-size: 2rem; }
    .accordion button .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px; }
      .accordion button .icon::before {
        display: block;
        position: absolute;
        content: "";
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor; }
      .accordion button .icon::after {
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor; }
  .accordion .accordion-content {
    font-family: "Poppins", sans-serif;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height; }
    .accordion .accordion-content p {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 2em 0;
      color: #ced4da; }

.btn {
  display: inline-block;
  background-color: #5ec576;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s; }
  .btn:hover {
    background-color: #4bbb7d; }
  .btn--text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: #5ec576;
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s; }

.card {
  height: 35rem;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 3rem;
  background-color: #fff; }
  .card > img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    object-position: 50% 50%;
    image-resolution: from-image;
    border-radius: 50%;
    margin-bottom: 1rem;
    filter: blur(0px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: scale(1);
    border: 5px solid #fff;
    transition: transform 0.3s; }
    .card > img:hover {
      filter: blur(0px);
      transform: scale(1.1); }
  .card > h3 {
    font-family: "Oswald";
    color: #000;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2;
    letter-spacing: 1px; }
  .card > p {
    font-size: 2.2rem;
    font-family: "Darker Grotesque";
    line-height: 1.5; }
  .card .team__content--social {
    padding: 0 2rem; }
    .card .team__content--social > a {
      background-color: #fff; }
      .card .team__content--social > a:hover > i {
        background-color: rgba(204, 204, 204, 0.3);
        color: #6c757d; }

.line {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  border: none;
  z-index: 10;
  position: absolute;
  top: 86%;
  left: 0; }

.contact {
  background-image: linear-gradient(to right, rgba(55, 56, 61, 0.6), rgba(55, 56, 61, 0.6)), url("/images/dotted-map-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .contact__form {
    width: 80rem;
    height: 60rem;
    margin: 0 auto;
    text-align: left; }
  .contact__description {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
    padding-top: 1rem; }

.events {
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; }
  .events__title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 5rem; }
    .events__title > span {
      color: #000;
      background-color: #ff0000;
      padding: 0 1.5rem;
      border-radius: 2px; }
  .events__short--description {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1px; }
  .events__team {
    text-transform: uppercase;
    padding-top: 4rem;
    font-size: 4rem;
    color: #ff0000;
    font-weight: 600;
    transition: all 1s;
    animation: pop 1s ease infinite; }
  .events__right {
    padding-top: 3rem;
    text-align: center; }
  .events__left {
    overflow: hidden;
    height: 100%;
    align-self: center;
    justify-self: center; }
  .events__img {
    height: 100%; }
  .events__timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 3rem;
    padding-left: 25rem;
    font-size: 1.6rem; }
    .events__timeline > p {
      color: #fff; }
      .events__timeline > p > i {
        padding-right: 2rem; }
  .events__text {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 1.2rem;
    padding: 2rem 0;
    color: #fff; }
  .events__links {
    width: 50%;
    display: flex;
    padding-top: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; }
    .events__links > a {
      background-color: white;
      text-decoration: none;
      color: #000;
      padding: 0.8rem 4rem; }
      .events__links > a:hover {
        background-color: red; }

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: #010101;
  padding: 1rem 1.5rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
        Also needs -ms- */ }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: #bbb; }

.form__group {
  width: 100%; }
  .form__group--last > .form__input {
    height: 18rem; }

.form__group {
  margin-bottom: 2.5rem;
  padding-right: 2rem; }

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.75rem; }

.form-input__group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.form__submit {
  font-size: 1.6rem;
  padding: 1.2rem 3rem;
  margin-top: 6rem;
  text-transform: uppercase;
  color: #fefefe; }

.team__tab-container {
  display: flex;
  justify-content: center;
  margin-top: 10rem; }

.team__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer; }
  .team__tab:hover {
    background-color: rgba(248, 249, 250, 0.1); }
  .team__tab--active {
    background-color: #fefefe;
    color: #000; }
    .team__tab--active:hover {
      background-color: #fefefe; }

.team__content {
  display: none;
  margin-top: 4rem;
  overflow: hidden;
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem; }
  .team__content--active {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    grid-row-gap: 8rem; }
  .team__content--card {
    height: 30rem;
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem; }
    .team__content--card__side {
      height: 30rem;
      transition: all 0.8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      text-align: center; }
      .team__content--card__side--front {
        background-image: linear-gradient(to bottom, #5ec576 0%, #5ec576 35%, transparent 35%);
        padding: 3rem;
        border-bottom: 5px solid #5ec576;
        background-color: #fff; }
        .team__content--card__side--front > img {
          width: 13rem;
          height: 13rem;
          object-fit: cover;
          border-radius: 50%;
          margin-bottom: 1rem;
          outline: 3px solid #5ec576;
          border: 5px solid #fff;
          transition: all 0.3s; }
        .team__content--card__side--front > h3 {
          font-family: "Oswald";
          color: #000;
          text-transform: uppercase;
          font-size: 2rem;
          line-height: 2;
          letter-spacing: 1px; }
        .team__content--card__side--front > p {
          font-size: 2.2rem;
          font-family: "Darker Grotesque";
          line-height: 1.5; }
      .team__content--card__side--back {
        transform: rotateY(180deg);
        background-color: #fff; }
        .team__content--card__side--back > p {
          font-size: 20rem;
          font-weight: 600;
          line-height: 30rem;
          height: 30rem;
          color: #5ec576;
          font-family: "Inter", sans-serif;
          z-index: 20; }
    .team__content--card:hover .team__content--card__side--front {
      transform: rotateY(-180deg); }
    .team__content--card:hover .team__content--card__side--back {
      transform: rotateY(0deg); }
  .team__content--social {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem; }
    .team__content--social > a {
      z-index: 20;
      text-decoration: none;
      color: #6c757d; }
      .team__content--social > a:hover > i {
        background-color: rgba(204, 204, 204, 0.3);
        color: #fff; }
      .team__content--social > a > i {
        font-size: 1.8rem;
        padding: 8px;
        border: 2px solid #ccc;
        border-radius: 50%;
        transition: all 0.2s; }
  .team__content--2 .card {
    background-image: linear-gradient(to bottom, #ffcb03 0%, #ffcb03 30%, transparent 30%);
    border-bottom: 5px solid #ffcb03; }
    .team__content--2 .card > img {
      outline: 3px solid #ffcb03; }
  .team__content--3 .card {
    background-image: linear-gradient(to bottom, #f23400 0%, #f23400 30%, transparent 30%);
    border-bottom: 5px solid #f23400; }
    .team__content--3 .card > img {
      outline: 3px solid #f23400; }
  .team__content--4 .card {
    background-image: linear-gradient(to bottom, #3a86ff 0%, #3a86ff 30%, transparent 30%);
    border-bottom: 5px solid #3a86ff; }
    .team__content--4 .card > img {
      outline: 3px solid #3a86ff; }
  .team__content--5 .card {
    background-image: linear-gradient(to bottom, #f3722c 0%, #f3722c 30%, transparent 30%);
    border-bottom: 5px solid #f3722c; }
    .team__content--5 .card > img {
      outline: 3px solid #f3722c; }
  .team__content--6 .card {
    background-image: linear-gradient(to bottom, #8338ec 0%, #8338ec 30%, transparent 30%);
    border-bottom: 5px solid #8338ec; }
    .team__content--6 .card > img {
      outline: 3px solid #8338ec; }
  .team__content--7 .card {
    background-image: linear-gradient(to bottom, #ff006e 0%, #ff006e 30%, transparent 30%);
    border-bottom: 5px solid #ff006e; }
    .team__content--7 .card > img {
      outline: 3px solid #ff006e; }
  .team__content--social {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem; }
    .team__content--social > a {
      z-index: 20;
      text-decoration: none;
      color: #6c757d; }
      .team__content--social > a:hover > i {
        background-color: rgba(204, 204, 204, 0.3);
        color: #fff; }
      .team__content--social > a > i {
        font-size: 1.8rem;
        padding: 8px;
        border: 2px solid #ccc;
        border-radius: 50%;
        transition: all 0.2s; }

.team__faculty {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background-color: #fff;
  padding: 3rem 0;
  border-radius: 5px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #5ec576 0%, #5ec576 30%, transparent 30%);
  border-bottom: 5px solid #5ec576; }
  .team__faculty > img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    outline: 3px solid #5ec576;
    border: 5px solid #fff;
    transition: all ease 0.5s; }
    .team__faculty > img:hover {
      transform: scale(1.05); }
  .team__faculty > h3 {
    font-family: "Oswald";
    color: #000;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2;
    letter-spacing: 1px; }
  .team__faculty > p {
    font-size: 2.2rem;
    font-family: "Darker Grotesque";
    line-height: 1.5; }
  .team__faculty--social {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5rem; }
    .team__faculty--social > a {
      z-index: 20;
      text-decoration: none;
      color: #6c757d; }
      .team__faculty--social > a:hover > i {
        background-color: rgba(204, 204, 204, 0.3); }
      .team__faculty--social > a > i {
        font-size: 1.8rem;
        padding: 8px;
        border: 2px solid #ccc;
        border-radius: 50%;
        transition: all 0.2s; }

.footer {
  padding: 5rem 3rem;
  background-color: #37383d; }
  .footer__logo {
    height: 10rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem; }
  .footer__note {
    font-size: 1.4rem;
    color: #aaa;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer__note .footer__link {
      font-size: 1.4rem; }

.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, rgba(19, 20, 23, 0.5), rgba(19, 20, 23, 0.5)), url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .header__title {
    flex: 1;
    max-width: 120rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    column-gap: 10rem;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start; }
    .header__title > h1 {
      text-shadow: 3px 3px 1px #5ec576, -2px 1px 30px #5ec576; }
  .header__canvas {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    transform: translateY(-6rem);
    border-radius: 50%; }

.highlight {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  background-size: 150%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
  animation: gradient-move 15s ease infinite; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
  /* nav and stickly class at the same time */ }
  .nav__name {
    display: flex;
    align-items: center; }
    .nav__name p {
      color: white;
      padding-left: 2rem;
      font-size: 2.5rem;
      font-weight: 500;
      letter-spacing: 2px; }
    .nav__name span {
      color: #5ec576;
      padding: 0 0.5rem; }
  .nav.sticky {
    position: fixed;
    background-color: #131417;
    border-bottom: 1px solid #2e2e2e; }
  .nav__logo {
    height: 4.5rem;
    transition: all 0.3s; }
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none; }
  .nav__item {
    margin-left: 4rem; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s; }
  .nav__link--btn {
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    background-color: #333;
    color: #5ec576;
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav__link--btn > i {
      font-size: 2rem; }
  .nav__link--btn:hover, .nav__link--btn:active {
    color: inherit;
    background-color: #4bbb7d;
    color: #333; }

.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s; }
  .section--hidden {
    opacity: 0;
    transform: translateY(8rem); }
  .section__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto; }
  .section__description {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #5ec576;
    margin-bottom: 1rem; }
  .section__header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500; }

#section--2 {
  background-image: url("/images/event-bg.jpg");
  height: 100rem; }

.section--contact {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  padding: 10rem 3rem; }
